@inject IJSRuntime JS
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Brogrammer</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="brogrammer">
                Brogrammer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <button class="btn btn-dark-mode" @onclick="ToggleDarkMode">
                @(isDarkMode ? "Light Mode" : "Dark Mode")
            </button>
        </div>
    </nav>
</div>

<script>
    window.toggleDarkMode = function (isDarkMode) {
        if (isDarkMode) {
            document.body.classList.add('dark-mode');
        } else {
            document.body.classList.remove('dark-mode');
        }
    };
</script>

@code {
    private bool isDarkMode = false;

    private async Task ToggleDarkMode()
    {
        isDarkMode = !isDarkMode;
        await JS.InvokeVoidAsync("toggleDarkMode", isDarkMode);
    }
}